ANALYZE=false
NEXT_PUBLIC_IS_WEB=true
NEXT_PUBLIC_ENVIRONMENT=local
NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_URL_API="https://api-dev.sustainagri.vn"
NEXT_PUBLIC_MEASUREMENT_ID="G-XXXXXXXX"
NEXT_PUBLIC_CDN_URL="https://s3.ap-southeast-1.amazonaws.com/cdn.eudr-2025-demo.com"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="397114843104-dfnaf7ve9mqf6e1lgce11199pfuirqd4.apps.googleusercontent.com"
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyC-mJjPJCgw_mvAGrYUZRg4BJ57X291AQU